:root {
    --primary-color: #333;
    --spacing: 1rem;
    --text-light: white;
    --background-light: #eee;
}

nav {
    background-color: var(--primary-color);
    padding: var(--spacing);
}

nav a {
    color: var(--text-light);
    padding: var(--spacing);
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 5px;
    box-shadow: 0 0 10px #999;
}

aside {
    width: 20rem;
    margin: var(--spacing);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--spacing);
    background-color: var(--background-light);
    color: var(--primary-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}